*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next {
    /*改变箭头大小*/
    width: 17px;
    height: 30px;
    background-size: contain;

    left: 50%;
    bottom: 5%;
    right: auto;
    top: auto;
    margin-left: -13.5px;
    transform: rotate(-90deg);
}
/*音乐按钮的样式*/

#mp3Btn {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 100;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 4px solid #292929;
    text-align: center;
    line-height: 47px;
    cursor: pointer;
    transform: rotateZ(0deg);
    animation: mp3key 4s infinite linear running;
    /*一直执行*/
    /*animation-iteration-count: infinite;*/
    /*匀速执行*/
    /*animation-timing-function:linear;*/
    /*默认运行动画*/
    /*animation-play-state:running;*/
}

@keyframes mp3key {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

#mp3Btn img {
    width: 15px;
}



/*第一屏样式开始*/
.s1{
    background: url("../img/bj.png");
    background-size: cover;
    height: 100%;
    position: relative;
}
.s1 .header img{
    position: absolute;
}
.s1 .header img:nth-of-type(1){
    width: 56%;
    height: 50%;
    top:20%;
    right: 35%;
}
.s1 .header img:nth-of-type(2){
    width: 25%;
    top:7%;
    left:10%;
}
.s1 .header .p1{
    width: 8%;
    position: absolute;
    top:10%;
    right: 15%;
    font-size: 26px;
    color: red;
    font-family:方正行楷简体;
}
.s1 .header h3{
    width: 8%;
    position: absolute;
    top:10%;
    right: 22%;
    color: red;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

/*第二屏样式开始*/
.s2{
    /*background: url("../img/bj2.jpg") no-repeat;*/
    /*background-size:100%;*/
    height: 100%;
    position: relative;
    background:#baacd6;
}
/*第二屏头部*/
.s2 .header{
    width: 100%;

    position: absolute;
    top: 5%;
    border:3px solid #01A187;
    background: #bddbe9;
}
.s2 .header img{
    width: 45%;
}
.s2 .header h2{
    letter-spacing:10px;
    font-family:方正行楷简体;
    color:#da0d7d;
}
/*第二屏中心*/
.s2 .main h2{
    width: 100%;
    position: absolute;
    top:50%;
    left:0;
    color:#b41b40;
}
.s2 .main div{
    width:80%;
    position: absolute;
    top:58%;
    left: 50%;
    margin-left: -40%;
}
.s2 .main div img{
    width: 60%;
    position: absolute;
    margin-left: -30%;
}
/*第二屏底部*/
.s2 .footer{
    width: 100%;
    height: 30%;
    background: #bddbe9;
    position: absolute;
    bottom:0;
}
.s2 .footer img:nth-of-type(1){
    width: 100%;
    border-radius:60% 60% 0 0;
    border:5px solid #01A187;
}
.s2 .footer img:nth-of-type(2){
    width: 50%;
    position: absolute;
    top:0;
    left:0;
}
