*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next {
    /*改变箭头大小*/
    width: 17px;
    height: 30px;
    background-size: contain;

    left: 50%;
    bottom: 5%;
    right: auto;
    top: auto;
    margin-left: -13.5px;
    transform: rotate(-90deg);
}
/*音乐按钮的样式*/

#mp3Btn {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 100;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 4px solid #292929;
    text-align: center;
    line-height: 47px;
    cursor: pointer;
    transform: rotateZ(0deg);
    animation: mp3key 4s infinite linear running;
    /*一直执行*/
    /*animation-iteration-count: infinite;*/
    /*匀速执行*/
    /*animation-timing-function:linear;*/
    /*默认运行动画*/
    /*animation-play-state:running;*/
}

@keyframes mp3key {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

#mp3Btn img {
    width: 15px;
}



/*第一屏样式开始*/
.s1{
    background: url("../img/bj.png");
    background-size: cover;
    height: 100%;
    position: relative;
}
.s1 .header img{
    position: absolute;
}
.s1 .header img:nth-of-type(1){
    width: 50%;
    top:20%;
    right: 35%;
}
.s1 .header img:nth-of-type(2){
    width: 25%;
    top:7%;
    left:10%;
}
.s1 .header .p1{
    width: 8%;
    position: absolute;
    top:6%;
    right: 15%;
    font-size: 22px;
    color: red;
    font-family:方正行楷简体;
    line-height: 24px;
}
.s1 .header h3{
    width: 8%;
    position: absolute;
    top:5%;
    right: 22%;
    color: red;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.s1 .p2{
    position: absolute;
    bottom:30%;
    left: 30%;
    font-size: 12px;
}

/*第二屏样式开始*/
.Preface .header{
    width:90%;
    border-bottom:2px solid #000;
    position: absolute;
    top:6%;
    left: 3%;
}
.Preface .header h2{
    width:20%;

}

.Preface .main p{
    width: 100%;
    padding: 15px;
    text-align: left;
    position: absolute;
    top:15%;
    line-height: 30px;
}





    /*第三屏样式开始*/
.s2{
    /*background: url("../img/bj2.jpg") no-repeat;*/
    /*background-size:100%;*/
    height: 100%;
    position: relative;
    background:#baacd6;
}
/*第三屏头部*/
.s2 .header{
    width: 100%;

    position: absolute;
    top: 5%;
    border:3px solid #01A187;
    background: #bddbe9;
}
.s2 .header img{
    width: 45%;
}
.s2 .header h2{
    letter-spacing:10px;
    font-family:方正行楷简体;
    color:#da0d7d;
}
/*第三屏中心*/
.s2 .main h2{
    width: 100%;
    position: absolute;
    top:50%;
    left:0;
    color:#b41b40;
}
.s2 .main div{
    width:80%;
    position: absolute;
    top:58%;
    left: 50%;
    margin-left: -40%;
}
.s2 .main div img{
    width: 60%;
    position: absolute;
    margin-left: -30%;
}
/*第三屏底部*/
.s2 .footer{
    width: 100%;
    height: 30%;
    background: #bddbe9;
    position: absolute;
    bottom:0;
}
.s2 .footer img:nth-of-type(1){
    width: 100%;
    border-radius:60% 60% 0 0;
    border:5px solid #01A187;
}
.s2 .footer img:nth-of-type(2){
    width: 50%;
    position: absolute;
    top:0;
    left:0;
}


/*第四屏样式开始*/
.s3,
.Preface,
.s4,
.s5,
.s6{
    background: url("../img/bj2.jpg") center;
    background-size:cover;
    height: 100vh;
    position: relative;
}
.s3 .img1{
    height: 100%;
    position: absolute;
    left: 0;
}
.s3 .img2{
    height: 100%;
    position: absolute;
    right: 0;
}
/*第四屏头部开始*/
.s3 .header .text{
    width: 100%;
    position: absolute;
    top:5%;
}
.s3 .header img:nth-of-type(1){
    position: absolute;
    top:0%;
    left:0%;
}
.s3 .header img:nth-of-type(2){
    position: absolute;
    top:0%;
    left:20%;
}
.s3 .header .text p{
    width: 92%;
    font-size: 14px;
    position: absolute;
    left:50%;
    margin-left:-46%;
    text-align: left;
    line-height: 18px;
}
/*第四屏底部开始*/
.s3 .footer{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
}
.s3 .footer img{
    width: 100%;
    height: 75%;
    position: absolute;
    left:0;
    bottom: 0;
    border:5px solid #01A187;
    border-radius:0 0 60% 60%;
    border-top:0;
}

/*第五屏样式开始*/
.s4 .header,
.s5 .header{
    width:90%;
    border-bottom:2px solid #000;
    position: absolute;
    top:6%;
    left: 7%;
}
.s4 .header h2,
.s5 .header h2{
    width:80%;
}
/*第五屏中心开始*/
.s4 .main .dv1{
    width: 80%;
    background: #f9da97;
    padding: 30px;
    position: absolute;
    left: 50%;
    top:15%;
    margin-left: -40%;
}
.s4 .main .dv1 p{
    text-align: left;
    font-size: 14px;
}
.s4 .main .dv1 h3{
    width: 20%;
    position: absolute;
    top:13%;
    right:10%;
    color: red;
}
.s4 .main .dv2{
    width: 80%;
    background: #f9da97;
    padding: 21px;
    position: absolute;
    left: 50%;
    top:35%;
    margin-left: -40%;
}
.s4 .main .dv2 p{
    text-align: left;
    font-size: 14px;
}
.s4 .main .dv2 h3{
    width: 20%;
    position: absolute;
    top:16%;
    right:10%;
    color: red;
}

.s4 .main .dv3{
    width: 80%;
    background: #f9da97;
    padding: 12px;
    position: absolute;
    left: 50%;
    top:55%;
    margin-left: -40%;
}
.s4 .main .dv3 p{
    text-align: left;
    font-size: 14px;
}
.s4 .main .dv3 h3{
    width: 20%;
    position: absolute;
    top:15%;
    right:10%;
    color: red;
}

.s4 .main .dv4{
    width: 80%;
    background: #f9da97;
    padding: 12px;
    position: absolute;
    left: 50%;
    top:75%;
    margin-left: -40%;
}
.s4 .main .dv4 p{
    width: 60%;
    text-align: left;
    font-size: 14px;
}
.s4 .main .dv4 h3{
    width: 20%;
    position: absolute;
    top:14%;
    right:10%;
    color: red;
}

/*第六屏样式开始*/
.s5 .main .dv1 p:nth-of-type(1){
    width: 37%;
    background:#f9da97;
    position: absolute;
    padding: 12px;
    top:16%;
    left:8%;
}
.s5 .main .dv1 p:nth-of-type(2){
    width: 40%;
    background:#f9da97;
    position: absolute;
    padding: 10px;
    top:16%;
    right:10%;
}
.s5 .main .dv2 p:nth-of-type(1){
    width: 37%;
    background:#f9da97;
    position: absolute;
    padding: 11px;
    top:28%;
    left:8%;
}
.s5 .main .dv2 p:nth-of-type(2){
    width: 40%;
    background:#f9da97;
    position: absolute;
    padding: 10px;
    top:28%;
    right:10%;
}
.s5 .main .dv3 p:nth-of-type(1){
    width: 37%;
    background:#f9da97;
    position: absolute;
    padding: 11px;
    top:40%;
    left:8%;
}
.s5 .main .dv3 p:nth-of-type(2){
    width: 40%;
    background:#f9da97;
    position: absolute;
    padding: 10px;
    top:40%;
    right:10%;
}

.s5 .main .dv4 p:nth-of-type(1){
    width: 37%;
    background:#f9da97;
    position: absolute;
    padding: 11px;
    top:52%;
    left:8%;
}
.s5 .main .dv4 p:nth-of-type(2){
    width: 40%;
    background:#f9da97;
    position: absolute;
    padding: 10px;
    top:52%;
    right:10%;
}
.s5 .main .dv5 p:nth-of-type(1){
    width: 37%;
    background:#f9da97;
    position: absolute;
    padding: 11px;
    top:64%;
    left:8%;
}
.s5 .main .dv5 p:nth-of-type(2){
    width: 40%;
    background:#f9da97;
    position: absolute;
    padding: 10px;
    top:64%;
    right:10%;
}
.s5 .main .dv6 p:nth-of-type(1){
    width: 37%;
    background:#f9da97;
    position: absolute;
    padding: 11px;
    top:76%;
    left:8%;
}
.s5 .main .dv6 p:nth-of-type(2){
    width: 40%;
    background:#f9da97;
    position: absolute;
    padding: 10px;
    top:76%;
    right:10%;
}

/*第七屏样式开始*/
.s6 .header{
    width:100%;
    position: absolute;
    top:10%;
    left: 7%;
}
.s6 .header h3{
    width:60%;
    background: #fff;
    padding: 30px;
    transform:rotateZ(-22deg);
}
.s6 .header img{
    width: 25%;
    position: absolute;
    top:0;
}
.s6 .main{
    width: 90%;
    position: absolute;
    left:50%;
    top:45%;
    margin-left:-45%;
}
.s6 .main p{
    width: 100%;
    text-align: left;
    font-size: 14px;
}



