
body{
    background-image:url("../img/bj.jpg");

}
.thumbnail img{
    width:50%;
    height: 25%;
}
.thumbnail{
    text-align: center;
    background-image:url("../img/bj.jpg");
    border:2px solid #a90303;
}