* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-button-next {
    /*改变箭头大小*/
    width: 17px;
    height: 30px;
    background-size: contain;

    left: 50%;
    bottom: 5%;
    right: auto;
    top: auto;
    margin-left: -13.5px;
    transform: rotate(-90deg);
}

/*音乐按钮的样式*/

#mp3Btn {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 100;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 4px solid #292929;
    text-align: center;
    line-height: 47px;
    cursor: pointer;
    transform: rotateZ(0deg);
    animation: mp3key 4s infinite linear running;
    /*一直执行*/
    /*animation-iteration-count: infinite;*/
    /*匀速执行*/
    /*animation-timing-function:linear;*/
    /*默认运行动画*/
    /*animation-play-state:running;*/
}

@keyframes mp3key {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

#mp3Btn img {
    width: 15px;
}

/*.si第一屏样式  开始*/
.s1,
.s2,
.s3,
.s4,
.s5,
.s6,
.s7{
    background: url("../img/bj.png");
    height: 100%;
    position: relative;
}

.s1 .header img {
    position: absolute;
}

.s1 .header img:nth-of-type(1) {
    width: 10%;
    top: 16%;
    left: 51px;
    animation: swing infinite;
}

.s1 .header img:nth-of-type(2) {
    width: 20%;
    top: 10%;
    right: 15%;
    animation: swing infinite;
}

.s1 .header img:nth-of-type(3) {
    width: 15%;
    bottom: 25%;
    left: 10%;
    animation: swing infinite;
}

.s1 .header img:nth-of-type(4) {
    width: 14%;
    bottom: 25%;
    right: 15%;
    animation: swing infinite;
}

.s1 .header img:nth-of-type(5) {
    width: 65%;
    left: 50%;
    top: 22%;
    margin-left: -33%;
    animation: pulse infinite;

}

/*让星球在中心开始动*/
.swing {

    transform-origin: center;
}

/*.s1第一屏文字部分*/
.s1 .main {
    position: absolute;
    top: 28%;
}

.s1 .main img:nth-of-type(1) {
    width: 35%;
}

.s1 .main img:nth-of-type(2) {
    width: 70%;
}

.s1 .main p {
    color: #fff;
}

.s1 .main .img9 {
    background: url("../img/9.png");
    width: 207px;
    height: 24px;
    margin: auto;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    background-size: contain;
}

/*第一屏footer部分*/
.s1 .footer {
    color: #00d7b2;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.s1 .footer p:nth-of-type(2) {
    margin-left: 35px;
}

.s1 .footer p:nth-of-type(3) {
    height: 70px;
}

.s1 .footer img {
    position: absolute;
    height: 70px;
}

.s1 .footer img:nth-of-type(1) {
    position: absolute;
    left: 0;
    animation: footerimg 2s infinite alternate;
}

@keyframes footerimg {
    0% {
        left: 0;
    }
    100% {
        left: 20px;
    }

}

.s1 .footer img:nth-of-type(2) {
    position: absolute;
    left: -90px;
    animation: shake infinite;
}

/*第二屏的样式*/
.s2,
.s4,
.s5,
.s6,
.s7{
    color: #00f8ca;
}

.s2 h2,
.s4 h2,
.s5 h2,
.s6 h2,
.s7 h2{
    font-size: 26px;
    position: relative;
    top: 12%;
}

.s2 small,
.s4 small,
.s5 small,
.s6 small,
.s7 small{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s2 h2::after,
.s2 h2::before {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s2 h2::after {
    background: url("../img/13.png");
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}

.s2 h2::before {
    background: url("../img/14.png");
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s2 div img {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}

.s2 div {
    width: 80%;
    height: 57%;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -40%;
}

.s2 div p {
    text-align: left;
    font-size: 12px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10px;
    line-height: 1.5em;

}

.s2 div p:nth-of-type(1) {
    padding-top: 20px;
}

.s2 div span {
    width: 120px;
    height: 25px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    line-height: 25px;
    display: inline-block;
    /*渐变色*/
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -60px;
}

/*第三屏开始*/
.s3 {
    color: #00f8ca;
}

.s3 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
}

.s3 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s3 h2::after,
.s3 h2::before {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s3 h2::after {
    background: url("../img/13.png");
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}

.s3 h2::before {
    background: url("../img/14.png");
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s3 div {
    width: 80%;
    height: 55%;
    position: absolute;
    left: 49%;
    margin-left: -40%;
    /*background: red;*/
}

.s3 div .img1 {
    width: 65%;
    height: 50%;
    position: absolute;
    top: 60%;
    left: 21%;
}

.s3 div img:nth-of-type(2) {
    width: 75%;
    height: 59%;
    position: absolute;
    top: 55%;
    left: 16%;
}

.s3 div img:nth-of-type(3) {
    width: 85%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 11%;
}

.s3 div img:nth-of-type(4) {
    width: 95%;
    height: 80%;
    position: absolute;
    top: 45%;
    left: 6%;
}

.s3 div img:nth-of-type(5) {
    width: 59%;
    height: 53%;
    position: absolute;
    top: 58%;
    left: 24%;
    animation: dian 7s infinite linear running;
}

.s3 div img:nth-of-type(6) {
    width: 87%;
    height: 84%;
    position: absolute;
    top: 43%;
    left: 10%;
    animation: dian 7s infinite linear running;
}

@keyframes dian {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.s3 .p1 {
    position: absolute;
    top: 80%;
    left: 41%;
}

.s3 .p1 .img7 {
    position: absolute;
    top: -180%;
    left: -30%;
    animation: pulse infinite;
}

.s3 .p2 {
    position: absolute;
    top: 52%;
    left: 30%;
}

.s3 .p2 .img8 {
    width: 60px;
    position: absolute;
    top: -70%;
    left: -35%;
}

.s3 .p3 {
    position: absolute;
    top: 52%;
    right: 20%;
}

.s3 .p3 .img9 {
    width: 60px;
    position: absolute;
    top: -70%;
    left: -35%;
}

.s3 .p4 {
    position: absolute;
    bottom: 12%;
    left: 8%;
}

.s3 .p4 .img10 {
    width: 60px;
    position: absolute;
    top: -70%;
    left: -35%;
}

.s3 .p5 {
    position: absolute;
    bottom: -17%;
    left: 30%;
}

.s3 .p5 .img11 {
    width: 60px;
    position: absolute;
    top: -70%;
    left: -35%;
}

.s3 .p6 {
    position: absolute;
    bottom: 13%;
    right: 1%;
}

.s3 .p6 .img12 {
    width: 60px;
    position: absolute;
    bottom: -80%;
    right: -35%;
}

.s3 .p7 {
    position: absolute;
    bottom: -16%;
    right: 20%;
}

.s3 .p7 .img13 {
    width: 60px;
    position: absolute;
    bottom: -70%;
    right: -35%;
}

.s3 .p8 {
    width: 1%;
    height: 7%;
    background: #00f4cc;
    position: absolute;
    bottom: 10%;
    left: 15%;
}

.s3 .p9 {
    width: 57%;
    font-size: 12px;
    text-align: left;
    line-height: 30px;
    position: absolute;
    bottom: 10%;
    left: 18%;
}

/*第四屏样式开始*/
.s4 h2::after,
.s4 h2::before {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s4 h2::after {
    background: url("../img/13.png");
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}

.s4 h2::before {
    background: url("../img/14.png");
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s4 div {
    width: 80%;
    height: 57%;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -40%;
}

.s4 div .img1 {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}

.s4 div .p1 {
    position: absolute;
    left: 30%;
    top: 6%;
}

.s4 div .p1 img {
    position: absolute;
    top: -80%;
    right: 100%;
}

.s4 div .p2 {
    position: absolute;
    right: 20%;
    top: 6%;
    color: #03c7f7;
}

.s4 div .p2 img {
    position: absolute;
    top: -80%;
    right: 100%;
}

.s4 div .p3 {
    position: absolute;
    left: 0;
    top: 18%;
}

.s4 div ul li .p3 img,
.s4 div ul li .p6 img,
.s4 div ul li .p9 img {
    width: 10%;
}

.s4 div .p3 span,
.s4 div .p6 span,
.s4 div .p9 span {
    color: #fff;
}

.s4 div ul li .p4 {
    position: absolute;
    left: 0;
    top: 25%;
}

.s4 div .p4 img {
    width: 80%;
}

.s4 div ul li .p5 {
    position: absolute;
    top: 30%;
    text-align: left;
}

.s4 div ul li .p5 img {
    width: 45%;
}

.s4 div ul li:nth-of-type(1),
.s4 div ul li:nth-of-type(2),
.s4 div ul li:nth-of-type(3) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.s4 div ul li .p6 {
    position: absolute;
    top: 42%;
}

.s4 div ul li .p7 {
    position: absolute;
    top: 48%;
    text-align: left;
}

.s4 div ul li .p7 img {
    width: 70%;
}

.s4 div ul li .p8 {
    position: absolute;
    top: 53%;
    text-align: left;
}

.s4 div ul li .p8 img {
    width: 40%;
}

.s4 div ul li .p9 {
    position: absolute;
    top: 66%;
}

.s4 div ul li .p10 {
    text-align: left;
    position: absolute;
    top: 72%;
}

.s4 div ul li .p10 img {
    width: 50%;
}

.s4 div ul li .p11 {
    text-align: left;
    position: absolute;
    top: 76%;
}

.s4 div ul li .p11 img {
    width: 30%;
}

.s4 div .text {
    font-size: 12px;
    width: 80%;
    position: absolute;
    bottom: 3%;
    left: 10%;
}

/*第五屏样式开始*/
.s5 h2::after,
.s5 h2::before {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s5 h2::after {
    background: url("../img/13.png");
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}

.s5 h2::before {
    background: url("../img/14.png");
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s5 div .top {
    width: 80%;
    height: 57%;
    position: absolute;
    top: 25%;
    left: 47%;
    margin-left: -40%;
}

.s5 div .top .img1 {
    width: 53%;
    height: 53%;
    position: absolute;
    left: 0;
}
.s5 div .top .img4 {
    width: 50%;
    height: 50%;
    position: absolute;
    top:-2%;
    left: 2%;
}
.s5 div .top .p1{
    position: absolute;
    top:43%;
    left: 12%;
    font-size: 14px;
}
.s5 div .top .p2{
    width: 93px;
    height: 20px;
    background: url("../img/33.png");
    background-size: contain;
    position: absolute;
    top:49%;
    left: 12%;
    font-size: 14px;
    color: #000;
}
.s5 div .top .p3{
    position: absolute;
    top:43%;
    right: 0;
    font-size: 14px;
}
.s5 div .top .p4{
    width: 93px;
    height: 20px;
    background: url("../img/33.png");
    background-size: contain;
    position: absolute;
    top:49%;
    right: 0;
    font-size: 14px;
    color: #000;
}
.s5 div .bottom .p5{
    position: absolute;
    bottom:-5%;
    left: 12%;
    font-size: 14px;
}
.s5 div .bottom .p6{
    width: 93px;
    height: 20px;
    background: url("../img/33.png");
    background-size: contain;
    position: absolute;
    bottom:-13%;
    left:10%;
    font-size: 14px;
    color: #000;
}
.s5 div .bottom .p7{
    position: absolute;
    bottom:-5%;
    right: 2%;
    font-size: 14px;
}
.s5 div .bottom .p8{
    width: 93px;
    height: 20px;
    background: url("../img/33.png");
    background-size: contain;
    position: absolute;
    bottom:-13%;
    right:0%;
    font-size: 14px;
    color: #000;
}


.s5 div .top .img2{
    width: 53%;
    height: 53%;
    position: absolute;
    right: -10%;
}

.s5 div .top .img3 {
    width: 50%;
    height: 50%;
    position: absolute;
    top:-2%;
    right: -9%;
}

.s5 div .bottom {
    width: 80%;
    height: 57%;
    position: absolute;
    top: 25%;
    left: 47%;
    margin-left: -40%;
}

.s5 div .bottom .img5 {
    width: 53%;
    height: 53%;
    position: absolute;
    left: 0;
    bottom: -10%;
}
.s5 div .bottom .img7 {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 2%;
    bottom: -5%;
}

.s5 div .bottom .img6 {
    width: 53%;
    height: 53%;
    position: absolute;
    right: -10%;
    bottom: -10%;
}
.s5 div .bottom .img8 {
    width: 50%;
    height: 50%;
    position: absolute;
    right: -9%;
    bottom: -5%;
}

/*第六屏样式开始*/
.s6 h2::after,
.s6 h2::before {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s6 h2::after {
    background: url("../img/13.png");
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}

.s6 h2::before {
    background: url("../img/14.png");
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s6 #dv1 {
    width: 80%;
    height: 57%;
    position: absolute;
    top: 20%;
    left: 5%;
}

.s6 #dv1 .img1 {
    width: 1px;
    position: absolute;
    top: 13%;
    left: 9%;
}

.s6 #dv1 .img2 {
    position: absolute;
    top: 6%;
    left: 0;
}

.s6 #dv1 .img3 {
    position: absolute;
    top: 43%;
    left: 0;
}

.s6 #dv1 .img4 {
    position: absolute;
    top: 80%;
    left: 0;
}

.s6 #dv1 ul {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 8%;
    left: 2%;
}
.s6 #dv1 ul li{
    width: 100%;
    position: absolute;
}

.s6 #dv1 ul li .p1 {
    width: 100%;
    position: absolute;
    left: 0%;
    top: 1%;
    color: #000;
    font-size: 20px;
}

.s6 #dv1 ul li .img5 {
    width: 100%;
    position: absolute;
    left: 15%;
}

.s6 #dv1 ul li {
    width: 100%;
    height: 100%;
}

.s6 #dv1 ul li .p2 {
    width: 100%;
    font-size: 14px;
    text-align: left;
    position: absolute;
    top: 13%;
    left: 25%;
}

.s6 #dv1 ul li .img6 {
    width: 100%;
    position: absolute;
    top: 10%;
    left: 15%;
}

.s6 #dv1 ul li .img7 {
    width: 100%;
    position: absolute;
    left: 15%;
    top:37%;
}
.s6 #dv1 ul li .p3 {
    width: 100%;
    position: absolute;
    left: 0%;
    top: 38%;
    color: #000;
    font-size: 20px;
}

.s6 #dv1 ul li .img8 {
    width: 100%;
    position: absolute;
    top: 47%;
    left: 15%;
}
.s6 #dv1 ul li .p4 {
     width: 100%;
     font-size: 14px;
     text-align: left;
     position: absolute;
     top: 50%;
     left: 25%;
 }


.s6 #dv1 ul li .img9 {
    width: 100%;
    position: absolute;
    left: 15%;
    top:74%;
}
.s6 #dv1 ul li .p5{
    width: 100%;
    position: absolute;
    left: 0;
    top: 75%;
    color: #000;
    font-size: 20px;
}

.s6 #dv1 ul li .img10 {
    width: 100%;
    position: absolute;
    top: 84%;
    left: 15%;
}
.s6 #dv1 ul li .p6 {
    width: 100%;
    font-size: 14px;
    text-align: left;
    position: absolute;
    top:87%;
    left: 25%;
}

/*第七屏样式开始*/
.s7 h2::after,
.s7 h2::before {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s7 h2::after {
    background: url("../img/13.png");
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}

.s7 h2::before {
    background: url("../img/14.png");
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}
.s7 #dv img {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}

.s7 #dv {
    width: 80%;
    height: 57%;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -40%;

}
.s7 #dv input{
    width: 90%;
    padding: 10px;
    position: absolute;
    top:5%;
    border:1px solid #7ff8e5;
}

.s7 #dv input:nth-of-type(1){
    top:8%;
    left:5%;
}
.s7 #dv input:nth-of-type(2){
    top:21%;
    left:5%;
}
.s7 #dv input:nth-of-type(3){
    top:34%;
    left:5%;
}
.s7 #dv button{
    width: 90%;
    padding: 10px;
    border:1px solid #7ff8e5;
    background: #00f2ca;
    color: #fff;
    position: absolute;
    bottom:36%;
    left:5%;
}
.s7 #dv .p1{
    width: 67%;
    font-size: 14px;
    position: absolute;
    bottom:20%;
    left:17%;
}
