*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    left:50%;
    bottom:5%;
    right:auto;
    top:auto;
    margin-left:-13.5px;
    transform: rotate(90deg);
}

/*音乐按钮的样式*/

#mp3Btn {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 100;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 4px solid #292929;
    text-align: center;
    line-height: 47px;
    cursor: pointer;
    transform: rotateZ(0deg);
    animation: mp3key 4s infinite linear running;
    /*一直执行*/
    /*animation-iteration-count: infinite;*/
    /*匀速执行*/
    /*animation-timing-function:linear;*/
    /*默认运行动画*/
    /*animation-play-state:running;*/
}

@keyframes mp3key {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

#mp3Btn img {
    width: 15px;
}


/*.si第一屏样式  开始*/
.s1,
.s2,
.s3{
    background: url("../img/bj.png");
    height: 100%;
    position: relative;
}
.s1 .header img{
    position: absolute;
}
.s1 .header img:nth-of-type(1){
    width: 30px;
    top:129px;
    left: 51px;
    animation: swing infinite;
}
.s1 .header img:nth-of-type(2){
    width: 60px;
    top:90px;
    right:37px;
    animation: swing infinite;
}
.s1 .header img:nth-of-type(3){
    width: 50px;
    bottom:186px;
    left:34px;
    animation: swing infinite;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    bottom:211px;
    right: 50px;
    animation: swing infinite;
}
.s1 .header img:nth-of-type(5){
    width:70%;
    left:50%;
    top:25%;
    margin-left:-35%;
    animation: pulse infinite;

}


/*.s1第一屏文字部分*/
.s1 .main{
    position: absolute;
    top: 30%;
}
.s1 .main img:nth-of-type(1){
      width: 40%;
}
.s1 .main img:nth-of-type(2){
    width: 80%;
}
.s1 .main p{
    color:#fff;
}
.s1 .main .img9{
    background: url("../img/9.png");
    width: 207px;
    height: 24px;
    margin: auto;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    background-size:contain;
}


/*第一屏footer部分*/
.s1 .footer{
    color:#00d7b2;
    position: absolute;
    width: 100%;
    bottom:0;
}
.s1 .footer p:nth-of-type(2){
    margin-left: 35px;
}
.s1 .footer p:nth-of-type(3){
    height: 70px;
}
.s1 .footer img{
    position: absolute;
    height: 70px;
}
.s1 .footer img:nth-of-type(1){
    position: absolute;
    left: 0;
}
.s1 .footer img:nth-of-type(2){
    position: absolute;
    left: -90px;
    animation:shake infinite;
}



/*第二屏的样式*/
.s2{
    color: #00f8ca;
}
.s2 h2{
    font-size: 26px;
    position: relative;
    top:12%;
}
.s2 small{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}
.s2 h2::after,
.s2 h2::before{
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s2 h2::after{
    background: url("../img/13.png");
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top:0;
}
.s2 h2::before{
    background: url("../img/14.png");
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}
.s2 div img{
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}
.s2 div{
    width: 80%;
    height: 57%;
    position: absolute;
    top: 25%;
    left:50%;
    margin-left: -40%;
}

.s2 div p{
    text-align: left;
    font-size: 14px;
    padding-left:10% ;
    padding-right:10% ;
    margin-bottom: 10px;
    line-height: 1.5em;

}
.s2 div p:nth-of-type(1){
    padding-top: 20px;
}
.s2 div span{
    width: 120px;
    height: 25px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    line-height: 25px;
    display: inline-block;
    /*渐变色*/
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -60px;
}
